<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(content="" name="description")
    link(href='/lib/font-awesome-4.5.0/css/font-awesome.css' rel="stylesheet")
    title Document
  body
    div#app
    script(src='/assets/app.js')
